@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 69%;
}

.gallery-btn {
  cursor: pointer;
}

.gallery-Container {
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );

  min-height: 100vh;
  height: max-content;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
  padding-top: 4rem;
}
.container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 14rem 1.6fr;
  grid-gap: 0 px 0 px;
  gap: 0 px 0 px;
  grid-template-areas:
    "gallery-btn-back . gallery-btn-new"
    "gallery-data gallery-data gallery-data";
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: end;
}
button {
  cursor: pointer;
}

button:active {
  background-color: #8661d1;
  box-shadow: 0 7px #967cc9;
  transform: translateY(4px);
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: 1px solid grey;
  border-radius: 1rem;
  height: 4rem;
  width: 24rem;
}
.gallery-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: none;
  border-radius: 0.3rem;
  height: 5rem;
  width: 9rem;
  color: white;
  background-color: #8661d1;
}

.gallery-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gallery-btn-back,
.gallery-btn-new {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.gallery-btn-back {
  grid-area: gallery-btn-back;
}
.gallery-btn-new {
  grid-area: gallery-btn-new;
  display: flex;
  justify-self: end;
}
.gallery-data {
  grid-area: gallery-data;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.gallery-data h1 {
  margin-bottom: 3rem;
}
.gallery-list-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gallery-list-block li {
  /* border: 1px solid black; */
  /* width: 140px !important; */
  min-height: 250px;
  margin: 10px;
  text-align: center;
  flex-basis: 25.33%;
}

.gallery-newImage-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24rem;
  font-size: 2rem;
}
.form-container .label {
  margin-bottom: 0.8rem;
}
.form-container .input {
  margin-bottom: 2rem;
}
.update-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8661d15e;
}
.update-container .update-gallery-data {
  display: grid;
  grid-template-areas: "close" "form";
  background-color: #3e4451;
  padding: 2rem 4rem 4rem;
  border-radius: 0.5rem;
}
.update-container .update-gallery-data .close {
  grid-area: close;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
  cursor: pointer;
}
.update-container .update-gallery-data .gallery-data {
  grid-area: form;
}
